[alias]
build-ajuna-solo            = "build --release --no-default-features --bin ajuna-solo --features solo"
build-ajuna-solo-benchmarks = [ "build-ajuna-solo", "--features", "runtime-benchmarks" ]

build-bajun            = "build --release --no-default-features --bin bajun-para --features bajun"
build-bajun-benchmarks = [ "build-bajun", "--features", "runtime-benchmarks" ]
build-bajun-rococo     = [ "build-bajun", "--features", "rococo-native" ]

build-ajuna            = "build --release --no-default-features --bin ajuna-para --features ajuna"
build-ajuna-benchmarks = [ "build-ajuna", "--features", "runtime-benchmarks" ]
build-ajuna-rococo     = [ "build-ajuna", "--features", "rococo-native" ]

[target.'cfg(feature = "cargo-clippy")']
rustflags = [
    "-Aclippy::derive_partial_eq_without_eq",
    "-Aclippy::too_many_arguments",
    "-Aclippy::type_complexity",
    "-Aclippy::uninlined-format-args",
    "-Aclippy::unnecessary_cast",
]
