name: Build

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'
  push:
    branches:
      - main

# Ensures only one build is run per branch, unless pushing to main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_ARGS: ${{ github.ref == 'refs/heads/main' && '--release --all-targets' || '' }}

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  check:
    name: Clippy and Check
    runs-on: ubuntu-latest
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features ${{ env.CARGO_ARGS }} -- -D warnings
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features ${{ env.CARGO_ARGS }}

  test-node:
    name: Test Node packages
    runs-on: ubuntu-latest
    needs: [fmt, check]
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features ${{ env.CARGO_ARGS }} --package "ajuna-node" --package "ajuna-cli" --package "ajuna-service" --jobs 1

  test-rpc:
    name: Test RPC packages
    runs-on: ubuntu-latest
    needs: [fmt, check]
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features ${{ env.CARGO_ARGS }} --package "ajuna-rpc" --jobs 1

  test-runtime:
    name: Test Runtime packages
    runs-on: ubuntu-latest
    needs: [fmt, check]
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features ${{ env.CARGO_ARGS }} --package "ajuna-solo-runtime" --package "bajun-runtime" --package "ajuna-runtime" --jobs 1

  test-pallets:
    name: Test Pallet packages
    runs-on: ubuntu-latest
    needs: [fmt, check]
    continue-on-error: false
    env:
      SKIP_WASM_BUILD: 1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features ${{ env.CARGO_ARGS }} --package "pallet-*" --jobs 1

  notify:
    name: Notify on Slack
    runs-on: ubuntu-latest
    needs: [test-node, test-rpc, test-runtime, test-pallets]
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          job_name: Build
          status: ${{ job.status }}
          fields: repo,pullRequest,commit,author,workflow,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()

  dev-binaries:
    name: Build and upload development build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container: integritee/integritee-dev:0.1.9
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/cargo@v1
        with:
          command: build-ajuna-solo
          args: --features skip-ias-check
      - uses: actions/upload-artifact@v3
        with:
          name: ajuna-solo-dev-${{ github.sha }}
          path: target/release/ajuna-solo
