name: Push to Docker Hub
on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag in SemVer"
        required: true
        type: string
      image_type:
        description: "Type of image to build"
        required: true
        type: choice
        options:
          - solochain
          - parachain

env:
  IMAGE_REPO: ajuna
  IMAGE_NAME: ${{ github.event.inputs.image_type }}
  IMAGE_TAG: ${{ github.event.inputs.image_tag }}
  IMAGE_BUILD_ARG_FEATURES: ${{ github.event.inputs.image_type == 'solochain' && "solo" || "bajun" }}
  IMAGE_BUILD_ARG_BIN: ${{ github.event.inputs.image_type == 'solochain' && "ajuna-solo" || "ajuna-para" }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ${{ env.IMAGE_NAME }}
      - uses: docker/build-push-action@v2
        with:
          context: docker
          file: Dockerfile
          push: true
          tags: ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          build-args:
            - ${{ env.IMAGE_BUILD_ARG_FEATURES }}
            - ${{ env.IMAGE_BUILD_ARG_BIN }}
